<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections><startup>
		
	<supportedRuntime version="v2.0.50727" /></startup>
    <connectionStrings>
        <add name="The_Shop_keeper.My.MySettings.ConnectionString" connectionString="Dsn=North Lite Solar DB;dbq=C:\USERS\D-LIMIT ON THE M.I.C\DROPBOX\CURRENT PROJECTS\North Lite Solar Client System\North Lite Solar Client System\North Lite Solar Client System\bin\Debug\North Lite Solar DB.accdb;driverid=25;fil=MS Access;maxbuffersize=2048;pagetimeout=5"
            providerName="System.Data.Odbc" />
        <add name="The_Shop_keeper.My.MySettings.ConnectionString1" connectionString="Dsn=The Shop Keeper DB;dbq=C:\USERS\D-LIMIT ON THE M.I.C\DROPBOX\CURRENT PROJECTS\The Shop Keeper\The Shop keeper\The Shop keeper\bin\Debug\ShopdbData.accdb;defaultdir=C:\USERS\D-LIMIT ON THE M.I.C\DROPBOX\CURRENT PROJECTS\The Shop Keeper\The Shop keeper\The Shop keeper\bin\Debug;driverid=25;fil=MS Access;maxbuffersize=2048;pagetimeout=5;uid=admin"
            providerName="System.Data.Odbc" />
        <add name="The_Shop_keeper.My.MySettings.ODBCShopDBDataConString"
            connectionString="Dsn=ShopdbData;pwd=Yinpok18@2013" providerName="System.Data.Odbc" />
        <add name="The_Shop_keeper.My.MySettings.ShopdbDataConnectionString"
            connectionString="Data Source=|DataDirectory|\bin\Debug\ShopdbData.sdf;Password=Yinpok18@2013"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="The_Shop_keeper.My.MySettings.ShopdbDataConnectionString1"
            connectionString="data source=&quot;C:\Users\developer\Desktop\Projects\VB.Net 2008\Commercial Build VB.Net 2008\The Shop keeper\bin\Debug\ShopdbData.db3&quot;"
            providerName="System.Data.SQLite" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
